---
import Base from "../../layouts/base.astro";
import LandingBlock from "../../components/landing_block.astro";
import Boxes from "../../components/boxes.astro";
---

<Base>
    <LandingBlock title="Fedezd fel a színeid varázsát - kívül és belül!">
        <p>Tudtad, hogy a színek nemcsak a külső megjelenésedre, hanem a belső világodra is hatással vannak?
            Színtanácsadóként abban segítek, hogy megtaláld azokat az árnyalatokat, amelyek nemcsak kiemelik
            természetes szépségedet, hanem összhangban vannak a személyiségeddel és pozitív energiákat sugároznak.</p>
    </LandingBlock>
    <LandingBlock title="Mi is az a színtípus?">
        <p>Az évszakok inspirálta színtípusok - Tavasz, Nyár, Ősz, Tél - mindegyike különböző színek kombinációját
            foglalja magában, amelyek a bőröd tónusához, hajszínedhez és szemszínedhez igazodnak. A színtanácsadás
            során speciális kendők segítségével meghatározzuk a te egyedi színtípusodat, hogy olyan ruhákat, sminkeket
            és kiegészítőket választhass, amelyek tökéletesen passzolnak hozzád.</p>
    </LandingBlock>
    <LandingBlock title="Színek, amelyek többet mondanak...">
        <p>A színtanácsadás nem csupán a külső megjelenésről szól. A színek pszichológiai hatása mélyen összefonódik
            a személyiségeddel. Egy-egy árnyalat képes befolyásolni a hangulatodat, az energiaszintedet, és mások
            rólad alkotott benyomását. A konzultáció során segítek megérteni, hogy a színek hogyan tükrözik belső
            világodat, és hogyan használhatod őket az életed különböző területein – az öltözködéstől kezdve a személyes
            kapcsolatokon át a munkáig.</p>
    </LandingBlock>
    <LandingBlock title="Miért érdemes színtanácsadást kérned?">
        <Boxes items={[
            { title: 'Önbizalom', text: 'A hozzád illő színek viselése növeli az önbizalmadat, és pozitív kisugárzást kölcsönöz.' },
            { title: 'Stílus', text: 'Könnyebben összeállíthatod a gardróbodat, ha tudod, mely színek állnak jól.' },
            { title: 'Pszichológiai előny', text: 'A megfelelő színek nemcsak kívül, hanem belül is harmonizálnak veled – növelik a jólét érzését és támogatják a pozitív gondolkodást.' },
            { title: 'Személyiségelemzés', text: 'Fedezd fel, hogyan tükrözik a színek a belső világodat, és hogyan erősítheted meg velük önmagad.' },
            { title: 'Tudatosság', text: 'Tudatosabban vásárolhatsz, ezáltal pénzt és időt spórolhatsz meg.' },
        ]}/>
    </LandingBlock>
    <LandingBlock title="Hogyan működik?">
        <p>Egy személyes konzultáció során nemcsak a külső színpalettádat határozzuk meg, hanem feltárjuk, milyen színek
            illenek a személyiségedhez, és milyen hatással vannak a hangulatodra és önkifejezésedre. A színes kendők
            segítségével felfedezzük azokat az árnyalatokat, amelyek mind külsőleg, mind belsőleg kihozzák belőled
            a legjobbat.</p>
    </LandingBlock>
    <LandingBlock title="Vágj bele!">
        <p>Tudd meg, mely színek tükrözik leginkább a személyiségedet, és hogyan tudsz harmóniát teremteni a külsőd
            és a belsőd között!</p>
    </LandingBlock>
</Base>
