---
import Base from "../../layouts/base.astro";
import LandingBlock from "../../components/landing_block.astro";
---

<Base>
    <LandingBlock title="Fedezd fel a színeid varázsát - kívül és belül!">
        <p>Tudtad, hogy a színek nemcsak a külső megjelenésedre, hanem a belső világodra is hatással vannak?
            Színtanácsadóként abban segítek, hogy megtaláld azokat az árnyalatokat, amelyek nemcsak kiemelik
            természetes szépségedet, hanem összhangban vannak a személyiségeddel és pozitív energiákat sugároznak.</p>
    </LandingBlock>
</Base>
