---
const { items } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {items.map(({ title, text }) => (
    <div>
        <h3>{title}</h3>
        <p>{text}</p>
    </div>
    ))}
</div>
