---
const { items } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {items.map(({ title, text }) => (
    <div class="mx-auto">
        <h3 class="py-1 md:py-2">{title}</h3>
        <p>{text}</p>
    </div>
    ))}
</div>
