---
---

<header>
    <div class="header">
        <h1 class="title">The wormhole</h1>
        <h5 class="subtitle">- whatever -</h5>
        <p>Current locale: {Astro.currentLocale}</p>
    </div>

    <nav>

    </nav>
</header>
