---
import { Image } from "astro:assets";
import roseIcon from "../assets/images/rose_icon.svg";
import Nav from "./nav.astro";

const navItems = [
    { text: "Home", href: "#"},
    { text: "About", href: "#"},
    { text: "Work", href: "#"},
];
---

<header>
    <div class="header">
        <span class="">
            <Image class="w-9 h-9" src={roseIcon} alt=""/>
        </span>
        <h1 class="title font-lovelyHome text-2xl p-4">Bolyós Anikó</h1>
        <p>Current locale: {Astro.currentLocale}</p>
    </div>

    <Nav items={navItems} />
</header>
