---
import Nav from "./nav.astro";

const navItems = [
    { text: "Home", href: "#"},
    { text: "About", href: "#"},
    { text: "Work", href: "#"},
];
---

<header>
    <div class="header">
        <h1 class="title">The wormhole</h1>
        <p>Current locale: {Astro.currentLocale}</p>
    </div>

    <Nav items={navItems} />
</header>
