@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "LovelyHome";
        src: url("../fonts/Lovely Home.ttf");
    }
    @font-face {
        font-family: "MyriadPro";
        src: url("../fonts/MYRIADPRO-REGULAR.OTF");
    }
    @font-face {
        font-family: "Lora";
        src: url("../fonts/Lora-Bold.ttf");
    }
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Regular.ttf");
    }

    body {
        font-family: MyriadPro;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Lora;
    }
}
