---
import Head from "../components/head.astro"
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <Head />
    <body class="antialiased bg-page tracking-tight">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
